<!DOCTYPE html>
<html>
  <head>
    <title>술갤 투표현황</title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header-wrap">
        <a id="logo" href="/">술갤 투표현황</a>
    </div>
    <div class="container">
        <h1 id="poll-subject"></h1>
        <a href="" target="_blank" id="poll-link"></a>
    </div>
    <div class="container">
        <p id="poll-result"></p>
        <ul class="graph"></ul>
    </div>
	<script src="/javascripts/axios.min.js"></script>
    <script src="/javascripts/poll.js"></script>
  </body>
</html>
