@import url(//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css);

html {
    box-sizing: border-box;
    font-family: 'Nanum Barun Gothic';
    letter-spacing: -0.75pt;
}
*, *:after, *:before {
    box-sizing: inherit;
    font-family: inherit;
    letter-spacing: inherit;
}

html, body, p, ul, li, table, tr, th, td, thead, tbody, h1 {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}

body {
    background-color: #F9F9F9;
}

input[type=text], input[type=password], input[type=file], button, textarea, input[type=radio] {
    -webkit-appearance: none;
    outline: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited { color: inherit; }

a:active { color: inherit; }

#logo {
    width: 100px;
    margin: auto;
    display: block;
    color: #FFF;
    text-align: center;
}

#poll-subject {
    color: #333;
    text-align: center;
    font-size: 24px;
    margin-bottom: .5em;
}

#poll-link {
    text-align: center;
    display: block;
    font-size: 13px;
}

.graph {
    list-style: none;
}

.graph li {
    margin-bottom: 1em;
}

.graph li:last-child {
    margin-bottom: 0;
}

.graph-item {
    margin-bottom: .5em;
    flex: 4;
    text-align: left;
    font-size: 14px;
}

.graph-per {
    flex: 1;
    text-align: right;
    font-size: 14px;
    color: #999;
}

.percentage {
    background: #ee5c5c;
    height: 10px;
    margin-bottom: .5em;
}

.flex-wrap {
    display: flex;
}

#poll-result {
    text-align: center;
    font-size: 14px;
    margin-bottom: 1em;
}

.input {
    display: block;
    width: 100%;
    padding: .5em;
    border: 1px solid transparent;
    margin-bottom: 1em;
    font-size: 14px;
}

input[type=radio].input,
input[type=checkbox].input {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
}

.input:last-child {
    margin-bottom: 0;
}

.input+.input {
    margin-top: 1em;
}

input[type=text].input,
input[type=password].input,
textarea.input,
.input-readonly {
    border-bottom-color: #EEE;
}

textarea.input {
    resize: none;
    line-height: 1.6;
}

.input:focus {
    border: 1px solid #77ceba !important;
}

.input-readonly {
    line-height: 1.6;
}

.body-wrap {
    padding: 0 1em;
}

.container {
    padding: 1em;
    max-width: 1000px;
    margin: 1em auto;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    display: block;
}

.btn {
    cursor: pointer;
    border: 1px solid transparent;
    padding: .5em;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.btn > .fa {
    margin-right: .5em;
    color: #77ceba;
}

.btn:hover,
.btn:active,
.btn:focus {
    border-color: #77ceba;
}

.btn.btn-red:hover,
.btn.btn-red:active,
.btn.btn-red:focus {
    border-color: #b93e3e;
}

.btn.btn-green:hover,
.btn.btn-green:active,
.btn.btn-green:focus {
    border-color: #34a98e;
}

.btn.btn-wide {
    display:block;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.btn.btn-green {
    background-color: #77ceba;
    color: #FFF;
}

.btn.btn-green > .fa {
    color: #FFF;
}

.btn.btn-red {
    background-color: #e19292;
    color: #821a1a;
}

.btn.btn-red > .fa {
    color: #821a1a;
}

.header-wrap {
    background-color: #77ceba;
    padding: 1em;
    height: 50px;
    position: relative;
    z-index: 1;
}



.list {
    border: 1px solid transparent;
    text-decoration: none;
    color: #000;
}

.list-wrote {
    border: 1px solid #77ceba;
}

.list-wrote > .fa-check-circle {
    color : #77ceba;
}

.info-wrap {
    border-top: 1px solid #EEE;
    margin: 1em -1em -1em -1em;
    display: flex;
}
.time {
    border-right: 1px solid #EEE;
}

.time, .count, .flex-item {
    flex: 1;
    padding: .5em;
    text-align: center;
    font-size: 12px;
}

.flex-item-2 {
    flex: 2;
}

.time > .fa,
.count > .fa {
    margin-right: .5em;
    color:  #77ceba;
}

.body-wrap {
    height: 100%;
    margin-top: -50px;
    padding-top: 50px;
}

.count-msg {
    text-align: center;
    font-size: 12px;
}

.input-title {
    font-size: 11px;
    padding-left: .5em;
    margin-bottom: .5em;
}

/* upload */

#image-file { display: none; }

.wrap-image-list {
    list-style: none;
}

.wrap-image-list > .list {
    display: flex;
    height: 70px;
    border: 1px solid #CCC;
    cursor: -webkit-grab;
    background-color: #fff;
    margin-top: .25em;
}

.wrap-image-list > .list:first-child {
    margin-top: .5em;
}

.wrap-image-list > .list.grabbed {
    opacity: .5;
}

.wrap-image-list > .list > .image {
    width: 70px;
    height: 100%;
}

.wrap-image-list > .list > .image-text {
    flex: 1;
    padding: 1em;
}

.wrap-image-list > .list > .image-text > .filename {
    font-weight: bold;
    margin-bottom: .25em;
}

.wrap-image-list > .list > .image-text > .filesize {
    font-size: 11px;
    color: #666;
}

.wrap-image-list > .list > .item-bars {
    width: 50px;
    text-align: center;
    color: #999;
}

.wrap-image-list > .list > .item-bars > .fa {
    line-height: 70px;
}

.delete-zone {
    border: 2px dashed #CCC;
    height: 70px;
    line-height: 70px;
    text-align: center;
    margin-top: .5em;
}

.delete-zone.active {
    border-color: #e19292;
    color: #821a1a;
}

.delete-zone.hover {
    font-weight: bold;
}

/* upload end */

/* ads */

.ads {
    font-size: 11px;
    margin-top: 1em;
    text-align: center;
}

.ads-mark {
    display: inline-block;
    background-color: rgb(249,116,87);
    color: #FFF;
    font-weight: bold;
    padding: 2px 4px;
    margin-right: 4px;
}

.ads-text {
    color: black;
}

.ads-text > strong {
    color: rgb(219,46,9);
}

/* ads end */

.sign-up-link {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
    color:  #77ceba;
    text-decoration: none;
    font-size: 12px;
    margin-top: 1em;
}

.sign-up-link:hover,
.sign-up-link:active,
.sign-up-link:focus {
    text-decoration: underline;
}

.alert-box {
    background-color: #e19292;
    text-align: center;
    font-size: 12px;
    color: #821a1a;
    padding: 1em;
    margin-bottom: 1em;
}

.info-box {
    background-color: #77ceba;
    text-align: center;
    font-size: 12px;
    color: #FFF;
    padding: 1em;
    margin-bottom: 1em;
}

.notice-box {
    background-color: #f5d57f;
    text-align: center;
    font-size: 12px;
    color: #ad7e00;
    padding: 1em;
    margin-bottom: 1em;
    line-height: 1.6;
}
.info-box  .fa,
.alert-box .fa,
.notice-box .fa {
    margin-right: .5em;
}

.checks-group {
    margin-bottom: 1em;
    display: flex;
}

.checks {
    position: relative;
    flex: 1;
    padding: .5em;
}

.checks input[type=radio].input {
    position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

.checks input[type=radio].input+ label {
  display: inline-block;
  position: relative;
  padding-left: 1.5em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size: 14px;
}

.checks input[type=radio].input + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  text-align: center;
  background: #FFF;
  border: 1px solid #EEE;
  border-radius: 100%;
}

.checks input[type=radio].input + label:active:before,
.checks input[type=radio].input:checked + label:active:before  {
    border: 1px solid #77ceba;
}
.checks input[type=radio].input:checked + label:before {
  border-color: #77ceba;
}
.checks input[type=radio].input:checked + label:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background: #77ceba;
  border-radius: 100%;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
}

.loader-wrap {
    display: none;
}

.loader-wrap.on {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.33);
    z-index: 999;
}

.container.loader {
    padding: 0;
    width: 300px;
    margin: auto;
}

.container.loader img {
    width: 100%;
}

.loader-msg {
    text-align: center;
    font-size: 12px;
    margin: 1em 0;
}

.loader-bar{
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}
.loader-bar:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #77ceba;
  animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

.flat-msg {
    text-align: center;
    font-size: 12px;
    padding: 1em;
    max-width: 1000px;
    margin: auto;
}

.navbar-wrap {
    margin-bottom: 1em;
}

.navbar {
    text-align: left;
    font-size: 16px;
    padding: 1em;
    margin-bottom: 0;
}


.navbar > .fa {
    float: right;
}

.navbar-list {
    display: none;
    max-width: 1000px;
    margin: auto;
}

.navbar-list a {
    background-color: #666;
    color: #FFF;
    font-size: 14px;
    padding: 1em;
    cursor: pointer;
    text-decoration: none;
    display: block;
}

.navbar-list a+a {
    border-top: 1px solid #999;
}

.title {
    max-width: 1000px;
    margin: 1em auto;
    font-size: 20px;
}

table {
    width: 100%;
    border-spacing: 0;
    font-size: 12px;
}

table thead th {
    border-bottom: 1px solid #EEE;
    padding: .5em;
}

table tbody td {
    text-align: center;
    padding: .5em;
}

table tbody td a {
  color: #000;
}

.login_mark {
  vertical-align: sub;
}

/* timepicker css */
